.products {
	margin-top: 4rem;
	padding: 1rem 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5rem;
	flex: 1;
}

.productsList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}

.card {
	width: 300px;
	height: 400px;

	overflow: hidden;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	box-shadow: 20px 20px 0px #0d8b96, -20px -20px 0px #11bbcc;
	cursor: pointer;
	background-color: var(--white);
}
.image {
}
.image img {
	width: 100%;
	height: 200px;
	border-bottom: 1px solid lightgray;
}
.image h1 {
	height: 200px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #b9dcf0;
	border-bottom: 1px solid lightgray;
	text-transform: uppercase;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	padding-top: 0.5rem;
	color: var(--teal);
	background-color: color-mix(in srgb, var(--white), black 1%);
}

.body .brandTitle,
.body .price {
	padding: 0 1rem;
}

.body .brandTitle h5 {
	font-weight: 600;
	font-size: 1.2rem;
}

.body .description {
	text-align: start;
	padding: 0 1rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.body .stock {
	justify-self: flex-end;
	border-top: 1px solid lightgray;
	padding: 0.5rem;
	color: black;
	background-color: var(--orange);
}
.card:hover .body .brandTitle h5 {
	color: var(--orange);
}

.navigation {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.navigation button {
	width: 50px;
	height: 30px;
	border: 0;
	background-color: var(--white);
	font-size: 1.1rem;
	color: var(--teal);
	cursor: pointer;
}
.navigation span {
	margin: auto 0;
	color: var(--white);
}

.navigation button:disabled {
	background-color: rgba(255, 255, 255, 0.6);
	color: var(--teal);
	border: 1px solid var(--teal);
	cursor: not-allowed;
}

@media (max-width: 1200px) {
	.productsList {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.products {
		padding: 1rem 4rem;
	}
}

@media (max-width: 992px) {
	.productsList {
		grid-template-columns: 1fr 1fr;
	}
	.products {
		padding: 1rem 10%;
	}
}

@media (max-width: 768px) {
	.productsList {
		grid-template-columns: 1fr;
	}
	.card {
		width: 100%;
		height: auto;
	}
}
