.appHeader {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 10%;
	align-items: center;
	background-color: var(--white);

	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.appHeader nav ul {
	display: flex;
	gap: 1rem;
	list-style-type: none;
}

.appHeader .logo {
	font-size: 2.5rem;
	color: black;
	text-decoration: none;
	color: var(--teal);
	max-width: 100px;
	max-height: 50px;
	font-weight: 600;
}

.appHeader nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.appHeader nav ul li a,
.appHeader nav ul li button {
	text-decoration: none;
	color: var(--teal);
	transition: 0.3s;
	font-weight: 500;
	text-transform: capitalize;
	background-color: transparent;
	border: 0;
	font-size: 1.2rem;
	cursor: pointer;
	padding: 0.3rem 0.7rem;
}
.appHeader nav ul li a:hover,
.appHeader nav ul li button:hover {
	background-color: color-mix(in srgb, var(--teal) 20%, white);
}
.appHeader .signupBtn {
	border: 2px solid var(--teal);
}
.appHeader .signupBtn:hover {
	background-color: var(--teal);
	color: var(--white);
	text-decoration: none;
}
.appHeader p {
	color: black;
}

/* subbar */
