#root {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}
#root main {
	flex: 1;
}
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.form-container form {
	background-color: var(--white);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 700px;
	border-radius: 0.5rem;
	box-shadow: 20px 20px 0px #0d8b96, -20px -20px 0px #11bbcc;
	animation: 1s show;
}
.form-container form::before {
	content: "";
	inset: 0;
	position: absolute;
	background-color: var(--skyblue);
	border-radius: 3rem 0rem;
	transform: rotate(145deg);
	translate: -410px 0;
	box-shadow: -150px -150px 0px color-mix(in srgb, var(--white), var(--skyblue));
}
.form-container form .form-header {
	color: black;
	text-transform: uppercase;
	border-bottom: 2px solid rgb(0, 195, 255);
	margin-bottom: 5rem;
	z-index: 999;
}

.form-container .message {
	color: black;
}
.form-container form .input-element {
	position: relative;
	margin: 1rem 0;
}

.form-container form .input-element label {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	text-transform: capitalize;
	padding: 0 1.3rem;
	color: rgba(0, 0, 0, 0.5);
	transition: 0.4s;
	font-size: 1.3rem;
	gap: 0.3rem;
	z-index: 999;
}
.form-container form .input-element i {
	font-size: 1rem;
	color: var(--teal);
	top: 0;
	left: 0px;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
}

.form-container form .input-element input {
	background-color: transparent;
	padding: 0.5rem 1.3rem;
	border: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	color: black;
	outline: none;
	z-index: 998;
	transition: 0.3s;
	width: 250px;
}

.form-container form .input-element input:focus ~ label,
.form-container form .input-element input:valid ~ label,
.form-container form .input-element input:not(:placeholder-shown) ~ label {
	transform: translate(-10px, -25px);
	font-size: 1rem;
	color: rgb(0, 195, 255);
}
.form-container form .input-element input:focus,
.form-container form .input-element input:valid,
.form-container form .input-element input:not(:placeholder-shown) {
	border-bottom: 2px solid rgb(0, 195, 255);
}
.form-container form .forgot-label {
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
	z-index: 999;
	align-self: flex-end;
	margin-top: 1rem;
	padding-right: 6rem;
}
.form-container form .forgot-label:hover {
	color: rgba(0, 0, 0, 1);
}
.form-container form .submit-button {
	position: relative;
	overflow: hidden;
	margin-top: 6rem;
	width: 250px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 0;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.form-container form .submit-button span {
	z-index: 10;
	transition: 1s;
}
.form-container form .submit-button::before {
	position: absolute;
	content: "";
	inset: 0;
	background-color: rgb(48, 119, 140);
	transform: translateX(-250px);
	transition: 0.3s;
	border-radius: 50px;
}

.form-container form .submit-button i {
	transform: translateX(-10px);
	transition: 1s;
}
.form-container form .submit-button:hover > span,
.form-container form .submit-button:hover > i {
	transform: translateX(55px);
	transition: 0.4s;
	color: var(--orange);
}
.form-container form .submit-button:hover::before {
	transform: translateX(0);
}
.form-container form .submit-button:hover {
	color: white;
}
.form-container form .alert-message {
	color: rgb(216, 0, 0);
	text-transform: capitalize;
	z-index: 999;
	margin: 1rem;
	min-height: 1rem;
	padding: 0 4rem;
}
@keyframes show {
	from {
		opacity: 0;
		scale: 0.5;
	}
}

.product-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 2rem;
}
@media screen and (max-width: 600px) {
	.form-container form {
		border-radius: 0;
	}
	.form-container form .submit-button {
		justify-content: center;
		align-items: center;
	}
}
