:root {
	/* color: rgba(255, 255, 255, 0.87);
	background-color: #242424; */
	font-family: "Montserrat", sans-serif;
	--white: #f9f7f3;
	--cream: #eddea4;
	--skyblue: #b5e2fa;
	--orange: #f7a072;
	--teal: #0fa3b1;
}
* {
	padding: 0;
	margin: 0;
}
body {
	min-height: 100dvh;
	background-color: var(--teal);
}
main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
}
footer {
	background-color: var(--white);
	margin: 0 5%;
}
